* {
    margin: 0;
}

body {
    background-image: url(https://w-dog.ru/wallpapers/10/14/425754534279151/luk-ozero-nacionalnyj-park-banf-alberta-kanada-gory-nebo-oblaka-ozero-derevya.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    height: 50px;
    width: 600px;
}

#transparent {
    background-color: rgba(148, 7, 117, 0.2);
    color: rgba(0, 0, 0, 0.2);;
}

#regular {
    background-color: purple;
}